# Variables de entorno para el frontend (Vite)
# --------------------------------------------

# BASE_PATH: Ruta base para el despliegue de la aplicación. 
# Por ejemplo, si la aplicación se sirve desde 'https://ejemplo.com/app/', BASE_PATH debería ser '/app/'.
# Valor por defecto en desarrollo: '/'
# Valor por defecto en producción: '/'
BASE_PATH=/

# PORT: Puerto en el que se ejecutará el servidor de desarrollo o preview de Vite.
# Valor por defecto: 3000
PORT=3000

# NODE_ENV: Entorno de la aplicación. Puede ser 'development' o 'production'.
# Este valor es utilizado por Vite para cargar las variables de entorno adecuadas.
NODE_ENV=development
