# Servidor
BASE_PATH=/
PORT=10000

# Base de datos PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_1eL3xDsnlQyG@ep-tiny-band-adnqy1an-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Entorno
NODE_ENV=production
